In [2]:
import pandas as pd
import numpy as np
import pickle

# PDAC

## Checking that pools make sense

In [31]:
plate1 = np.load("pools/randomPDAC1/4x_5r_randomPDAC1.npy")

In [35]:
plate1.shape

(72, 68)

All 68 drugs occur 5 times

In [33]:
plate1.sum(0)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [36]:
plate1.sum(1)

array([5., 5., 5., 4., 4., 5., 5., 5., 5., 5., 5., 5., 5., 4., 5., 5., 4.,
       4., 5., 4., 5., 5., 5., 5., 4., 5., 5., 5., 4., 5., 5., 4., 5., 5.,
       5., 5., 5., 4., 5., 5., 4., 5., 5., 5., 4., 5., 5., 5., 4., 5., 5.,
       4., 4., 4., 5., 5., 5., 4., 5., 5., 4., 4., 5., 5., 5., 5., 5., 5.,
       4., 5., 5., 5.])

All pools have 4 or 5 drugs

In [37]:
np.mean(plate1.sum(1))

4.722222222222222

In [38]:
plate2 = np.load("pools/randomPDAC2/4x_5r_randomPDAC2.npy")

In [39]:
plate2.shape

(72, 68)

In [40]:
plate2.sum(0)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.,
       5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [41]:
plate2.sum(1)

array([5., 4., 5., 5., 5., 5., 5., 4., 5., 5., 5., 5., 5., 4., 4., 5., 5.,
       5., 5., 5., 5., 5., 5., 4., 4., 5., 4., 5., 4., 5., 5., 4., 5., 5.,
       4., 4., 5., 5., 4., 5., 5., 5., 5., 5., 5., 5., 5., 5., 4., 5., 5.,
       5., 5., 5., 5., 4., 5., 5., 5., 5., 5., 5., 4., 5., 4., 5., 4., 5.,
       4., 4., 5., 4.])

In [42]:
np.mean(plate2.sum(1))

4.722222222222222

In [3]:
final_name = "randomPDAC"
picklist = pd.read_csv("picklists/"+final_name+"_final.csv",index_col=0)
metadata = pd.read_csv("metadata/"+final_name+"_final.csv",index_col=0)
pool_key = pd.read_csv("pool_keys/"+final_name+"_final.csv",index_col=0)
with open("well_drug_dicts/"+final_name+'_final.pickle', 'rb') as handle:
    well_drug_dict = pickle.load(handle)

## Picklist

In [6]:
print("Checking number of uses of each ligand")
print(picklist['compound_name'].value_counts().values)
print("Should be using 2(96-12) = 168 destination wells in the picklist")
print(len(np.unique(picklist['destination_well'])))
print("68 source wells in the picklist")
print(len(np.unique(picklist['source_well'])))
print('check that everything goes to the correct plate')
print(np.unique(picklist['destination_plate']))

Checking number of uses of each ligand
[18 18 18 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10
 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10
 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10]
Should be using 2(96-12) = 168 destination wells in the picklist
168
68 source wells in the picklist
68
check that everything goes to the correct plate
['randomPDAC']

most things get used 10 times (two compressed of 5 reps), 3 positive controls get another 4x2=8 for 18 total

## Metadata

In [26]:
metadata.loc[metadata.Metadata_perturbation=="TNF"]

,Metadata_Well,Metadata_perturbation,Metadata_compression,Metadata_replicates,quadrant
80,K19,TNF,4,5,1
81,M07,TNF,4,5,1
82,M13,TNF,4,5,1
83,A21,TNF,4,5,1
80,M10,TNF,4,5,2
81,G02,TNF,4,5,2
82,G24,TNF,4,5,2
83,M06,TNF,4,5,2

In [27]:
metadata.loc[metadata.Metadata_perturbation=="TGFB1"]

,Metadata_Well,Metadata_perturbation,Metadata_compression,Metadata_replicates,quadrant
72,M23,TGFB1,4,5,1
73,A15,TGFB1,4,5,1
74,O07,TGFB1,4,5,1
75,I01,TGFB1,4,5,1
72,K10,TGFB1,4,5,2
73,A02,TGFB1,4,5,2
74,G18,TGFB1,4,5,2
75,K08,TGFB1,4,5,2

In [25]:
metadata.loc[metadata.Metadata_perturbation=="IFNG"]

,Metadata_Well,Metadata_perturbation,Metadata_compression,Metadata_replicates,quadrant
76,G21,IFNG,4,5,1
77,C15,IFNG,4,5,1
78,C19,IFNG,4,5,1
79,A23,IFNG,4,5,1
76,C10,IFNG,4,5,2
77,K24,IFNG,4,5,2
78,A12,IFNG,4,5,2
79,C24,IFNG,4,5,2

In [13]:
metadata.loc[metadata.Metadata_perturbation=="media"]

,Metadata_Well,Metadata_perturbation,Metadata_compression,Metadata_replicates,quadrant
84,M19,media,4,5,1
85,K13,media,4,5,1
86,E23,media,4,5,1
87,A07,media,4,5,1
88,I17,media,4,5,1
89,O05,media,4,5,1
90,E15,media,4,5,1
91,I15,media,4,5,1
92,E17,media,4,5,1
93,A11,media,4,5,1
94,O11,media,4,5,1
95,M11,media,4,5,1
84,E12,media,4,5,2
85,M20,media,4,5,2
86,C12,media,4,5,2
87,G14,media,4,5,2
88,E20,media,4,5,2
89,O24,media,4,5,2
90,C02,media,4,5,2
91,A20,media,4,5,2
92,K22,media,4,5,2
93,A04,media,4,5,2
94,G04,media,4,5,2
95,A08,media,4,5,2

In [9]:
print(metadata['Metadata_perturbation'].value_counts())

random2    72
random1    72
media      24
TGFB1       8
IFNG        8
TNF         8
Name: Metadata_perturbation, dtype: int64

## Well drug dictionary

In [23]:
q = well_drug_dict['quadrant1']
lens = []
for pool in q:
    lens.append(len(q[pool]))
lens = np.array(lens)
print(np.sort(lens))

[0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5]

In [24]:
q

{'M1': ['BMP4', 'LPA', 'LGALS9', 'IL33', 'CXCL12'],
 'M21': ['IFNG', 'CD40LG', 'BDNF', 'IL1B', 'SPP1'],
 'E1': ['TSLP', 'TGFB3', 'IL33', 'IFNA2', 'CSF1'],
 'E9': ['RARRES2', 'FGF10', 'ADIPOQ', 'PF4'],
 'K7': ['beta-NGF', 'TRAIL', 'THBS1', 'IL7', 'IL33'],
 'O1': ['PDGF-AA', 'IL4', 'IL17A', 'FASLG', 'IL13'],
 'I7': ['IL33', 'IL15', 'INHBB', 'IL7'],
 'G23': ['HGF', 'CCL3', 'BDNF', 'IL1B', 'NOGGIN'],
 'O19': ['TNF', 'IL6', 'FGF1', 'EPO', 'ADIPOQ'],
 'K23': ['IFNA2', 'APP', 'APOA1', 'EPO'],
 'G17': ['THBS1', 'NAMPT', 'IL1A', 'BMP4'],
 'C5': ['APP', 'APOE', 'BDNF', 'IL15', 'TGFB1'],
 'A13': ['RSPO3', 'RARRES2', 'IL33', 'FASLG'],
 'M15': ['THBS1', 'IFNA2', 'GDF15', 'EGF', 'FN1'],
 'K3': ['RANKL', 'NRG1', 'FN1', 'CSF2', 'APOE'],
 'I21': ['INHBB', 'IL10', 'IGF1', 'C5'],
 'O3': ['IGF1', 'TGFB1', 'OSM', 'NRG1', 'IL22'],
 'C11': ['OSM', 'IL22', 'GDF15', 'FGF10', 'BMP4'],
 'M5': ['VEGFA', 'RSPO3', 'IL4', 'CD40LG'],
 'A17': ['RARRES2', 'IFNG', 'FGF13', 'BDNF', 'TNF'],
 'A5': ['HGF', 'FGF10', 'RSPO3', 'RANKL', 'IL1B'],
 'G13': ['IL7', 'FGF7', 'CADM1', 'TGFB1', 'WNT7A'],
 'I9': ['SPP1', 'SEMA4D', 'FGF7', 'CCL11'],
 'G3': ['IL6', 'IL22', 'FGF10', 'CCL11', 'IL10'],
 'E21': ['FN1', 'FASLG', 'BMP4', 'APP', 'ADIPOQ'],
 'G5': ['TRAIL', 'SERPING1', 'IL1A', 'APOA1', 'FGF2'],
 'K5': ['CCL5', 'CCL3', 'SERPING1', 'NOGGIN', 'IL17A'],
 'M7': ['TNF'],
 'K19': ['TNF'],
 'A23': ['IFNG'],
 'C19': ['IFNG'],
 'C15': ['IFNG'],
 'G21': ['IFNG'],
 'I1': ['TGFB1'],
 'O7': ['TGFB1'],
 'A15': ['TGFB1'],
 'I13': ['NOGGIN', 'NAMPT', 'FGF7', 'FGF2', 'CXCL12'],
 'M23': ['TGFB1'],
 'O15': ['CADM1', 'CCL11', 'CSF2', 'PF4'],
 'C9': ['TRAIL', 'SEMA4D', 'PF4', 'FGF13', 'CSF1'],
 'E19': ['TNF', 'SPP1', 'NOGGIN', 'EPO', 'FGF7'],
 'K1': ['PF4', 'LGALS9', 'IL13', 'IFNG'],
 'C13': ['CCL3', 'WNT7A', 'TRAIL', 'IL1A'],
 'G15': ['TGFB1', 'FGF10', 'FGF1', 'EGF', 'CADM1'],
 'I11': ['beta-NGF', 'WNT7A', 'VEGFA', 'LGALS9', 'FN1'],
 'K11': ['TSLP', 'IL17A', 'GDF15', 'FGF1', 'ADIPOQ'],
 'O9': ['RARRES2', 'NAMPT', 'LPA', 'IL13', 'HGF'],
 'G7': ['RANKL', 'IL1A', 'GDF15', 'FASLG', 'CXCL12'],
 'A19': ['WNT3A', 'NRG1', 'CSF2', 'CSF1', 'CCL2'],
 'I23': ['C5', 'CCL2', 'WNT3A', 'CCL5'],
 'O23': ['WNT3A', 'OSM', 'CCL5', 'CCL3', 'APOA1'],
 'K17': ['TSLP', 'RANKL', 'IL10', 'FASLG', 'APOA1'],
 'G1': ['PLG1', 'PDGF-AA', 'IL6', 'EGF'],
 'M3': ['WNT7A', 'INHBB', 'IL17A', 'CXCL12'],
 'E3': ['VEGFA', 'CADM1', 'APOE', 'APOA1', 'SEMA4D'],
 'A3': ['NOGGIN', 'LPA', 'IL15', 'IFNA2', 'APOE'],
 'M17': ['IFNA2', 'LGALS9', 'LPA', 'PLG1', 'VEGFA'],
 'O21': ['IL7', 'PLG1', 'IL4', 'IFNG', 'CSF1'],
 'C21': ['TGFB3', 'LGALS9', 'HGF', 'EGF'],
 'G19': ['IL6', 'IL22', 'IGF1', 'CD40LG', 'C5'],
 'A1': ['BMP4', 'CCL11', 'IL4', 'CCL2'],
 'E5': ['IGF1', 'CCL5', 'CCL2', 'AREG', 'IL15'],
 'C1': ['WNT7A', 'WNT3A', 'TSLP', 'FGF2', 'APP'],
 'O13': ['SEMA4D', 'IL13', 'HGF', 'GDF15', 'RANKL'],
 'C7': ['TNF', 'IL7', 'IL1B', 'FGF13', 'EGF'],
 'O17': ['EPO', 'FGF7', 'LPA', 'VEGFA', 'PDGF-AA'],
 'E13': ['SERPING1', 'OSM', 'FGF1', 'CSF2'],
 'K21': ['THBS1', 'CXCL12', 'CSF2', 'CCL2', 'BDNF'],
 'E11': ['TGFB3', 'SPP1', 'SEMA4D', 'PDGF-AA', 'AREG'],
 'G11': ['PDGF-AA', 'IL22', 'IL17A', 'AREG'],
 'I5': ['SPP1', 'PLG1', 'NAMPT', 'IL10', 'EPO'],
 'E7': ['beta-NGF', 'IL1B', 'CCL3', 'CADM1', 'THBS1'],
 'I3': ['PF4', 'IL13', 'FGF2', 'CSF1', 'CCL11'],
 'C3': ['TNF', 'TGFB3', 'OSM', 'NRG1', 'NAMPT'],
 'C17': ['RSPO3', 'NRG1', 'IL4', 'TGFB3', 'WNT3A'],
 'I19': ['RSPO3', 'INHBB', 'FN1', 'CD40LG', 'APP'],
 'G9': ['PLG1', 'IFNG', 'C5', 'AREG', 'IL1A'],
 'C23': ['RARRES2', 'FGF2', 'CCL5', 'APOE'],
 'A9': ['ADIPOQ', 'CD40LG', 'beta-NGF', 'IL15', 'FGF13'],
 'K9': ['IL6', 'IGF1', 'FGF13', 'FGF1', 'C5'],
 'M9': ['beta-NGF', 'TSLP', 'TRAIL', 'SERPING1', 'IL10'],
 'K15': ['TGFB1', 'SERPING1', 'INHBB', 'AREG'],
 'M13': ['TNF'],
 'A21': ['TNF'],
 'M19': [],
 'K13': [],
 'E23': [],
 'A7': [],
 'I17': [],
 'O5': [],
 'E15': [],
 'I15': [],
 'E17': [],
 'A11': [],
 'O11': [],
 'M11': []}

In [29]:
print(sum(lens==0))
print(sum(lens==1))
print(sum(lens==4)+sum(lens==5))

12
12
72

In [20]:
q = well_drug_dict['quadrant2']
lens = []
for pool in q:
    lens.append(len(q[pool]))
lens = np.array(lens)
print(np.sort(lens))

[0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5]

In [30]:
print(sum(lens==0))
print(sum(lens==1))
print(sum(lens==4)+sum(lens==5))

12
12
72